<template>
	<div class="mb-4 px-4 py-2 border rounded">
		<div class="row">
			<div class="col">
				<small v-if="author !== null">{{ author.name }}:</small>
				<small v-else>System:</small>
			</div>
			<div class="col text-right">
				<small>{{ ago }}</small>
			</div>
		</div>
		<div class="" v-html="comment.message"></div>
	</div>
</template>

<script>
	export default {
		props: {
			comment: Object,
		},
		data: () => ({
			author: null,
		}),
		computed: {
			ago() {
				return moment(this.comment.created_at).fromNow();
			},
		},
		methods: {
			async getAuthor() {
				const { data } = await axios.get(`api/users/${this.comment.user_id}`);
				this.author = data;
			}
		},
		mounted() {
			if (this.comment.type !== 'system') {
				this.getAuthor();
			}
		}
	};
</script>