<template>
	<table class="table table-hover">
		<caption>Candidates</caption>
		<thead>
			<tr>
				<th scope="col">Created</th>
				<th scope="col">Status</th>
				<th scope="col">Name</th>
				<th scope="col">Gender</th>
				<th scope="col">Birthday</th>
				<th scope="col">Citizenship</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="person in candidates" :key="person.id" @click="alert(person.id)">
				<th scope="row">{{ person.created_at }}</th>
				<td>{{ person.status }}</td>
				<td>{{ person.fullName }}</td>
				<td>{{ person.gender }}</td>
				<td>{{ person.birthday }}</td>
				<td>{{ person.citizenship }}</td>
			</tr>
		</tbody>
	</table>
</template>

<script>
	export default {
		data: () => ({
			loading: true,
			candidates: [],
			meta: {},
		}),
		methods: {
			fetch: function () {
				this.loading = true;
				axios.get('api/candidates')
					.then(({ data }) => {
						this.formatData(data);
						this.meta = data.meta;
					})
					.catch(err => console.err(err))
					.finally(this.loading = false);
			},
			formatData: function ({ data }) {
				this.candidates = data.map(c => {
					let fullName = `${c.title}. ${c.name} ${c.surname}`;
					fullName = fullName.split(' ').map(s => s.charAt(0).toUpperCase() + s.substring(1))
						.join(' ');
					return {...c, fullName};
				});
			},
			alert: function (id) {
				console.log(this.candidates[id]);
			}
		},
		mounted() {
			this.fetch();
		}
	};
</script>