<template>
	<div>
		<transition name="fade">
			<candidate-card 
				v-if="selected !== null"
				@close="selected = null"
				@updated="updated"
				:proto="selected"
			/>
		</transition>
		<div class="row">
			<dropable class="col rounded-lg"
				v-for="col in columns"
				:key="col.name"
				activeClass="bg-secondary"
				:context="{ status: col.name }"
				@drop="drop"
			>
				<div class="p-3 my-4 bg-white rounded-lg text-center">
					<span class="text-uppercase font-weight-bolder">{{ col.name }}</span>
				</div>

				<draggable
					v-for="item in group(col.name)"
					:key="item.id"
					:payload="item"
				>
					<div @click="selected = item">
						<candidate-ticket :candidate="item"/>
					</div>
				</draggable>
			</dropable>
		</div>
	</div>
</template>

<script>
	import CandidateTicket from './design/CandidateTicket.vue';
	import CandidateCard from './design/CandidateCard.vue';

	export default {
		components: {
			CandidateCard,
			CandidateTicket,
		},
		data: () => ({
			selected: null,
			columns: [],
			items: [],
		}),
		computed: {
			group() {
				return status => this.items
					.filter(item => item.status === status)
					.sort((a, b) => {
						return moment(b.updated_at).diff(moment(a.updated_at));
					});
			},
		},
		methods: {
			async prepareColumns() {
				let { data } = await axios.get('api/candidate-statuses');
				this.columns = data;
			},
			async fetch() {
				let { data } = await axios.get('api/candidates');
				this.items = data.data;
			},
			async drop({ payload, context }) {
				if (payload.status === context.status) return;
				let { data } = await axios.patch(`api/candidates/${payload.id}`, {
					status: context.status,
				});
				this.items.forEach(item => {
					if (item.id === payload.id) {
						item.updated_at = data.data.updated_at;
						item.status = data.data.status;
					}
				});
				this.fetch();
			},
			updated({ payload }) {
				this.fetch();
				this.selected = payload;
			},
		},
		mounted: function() {
			this.prepareColumns();
			this.fetch();
		},
	};
</script>

<style>
	.fade-enter-active, .fade-leave-active {
	  transition: opacity .2s;
	}
	.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	  opacity: 0;
	}
</style>