<template>
	<div
		draggable="true"
		@dragstart="drag($event)"
	>
		<slot></slot>
	</div>
</template>

<script>
	export default {
		props: {
			payload: Object,
		},
		methods: {
			drag: function (event) {
				event.dataTransfer.setData('payload', JSON.stringify(this.payload));
			},
		},
	};
</script>