<template>
	<div
		@dragover.prevent
		@dragenter.prevent="active = !active"
		@dragleave.prevent="active = !active"
		@drop.prevent="drop($event)"
		:class="active ? activeClass : ''"
	>
		<slot></slot>
	</div>
</template>

<script>
	export default {
		props: {
			activeClass: String,
			context: Object,
		},
		data: () => ({
			active: false,
		}),
		methods: {
			drop: function (event) {
				this.active = false;
				const payload = JSON.parse(event.dataTransfer.getData('payload'));
				this.$emit('drop', { context: this.context, payload: payload });
			},
		},
	};
</script>