<template>
	<div
		class="position-fixed fixed-top fixed-bottom"
		style="background: rgba(0,0,0,0.6)"
		@click="$emit('close')"
		@keydown.esc="$emit('close')"
		tabindex="0"
		ref="container"
	>
		<div class="container-fluid h-100">
			<div class="row align-items-center h-100">
				<div class="col">
					<div class="card" @click.stop>
						<div class="card-header">
							Candidate header
						</div>
						<div class="card-body">
							<div class="row" style="height: 88vh;">
								<div
									class="col"
									style="border-right: solid 1px rgba(0,0,0,0.125);"
								>

										<div class="row align-items-center pb-1">
											<div class="col-3 font-weight-bold" style="min-width:120px;">
												Title
											</div>
											<div class="col flex-grow-1" style="min-width:0;">
												<input class="form-control border-0" v-model="candidate.title">
											</div>
										</div>

										<div class="row align-items-center pb-1">
											<div class="col-3 font-weight-bold" style="min-width:120px;">
												Name
											</div>
											<div class="col flex-grow-1" style="min-width:0;">
												<input class="form-control border-0" v-model="candidate.name">
											</div>
										</div>

										<div class="row align-items-center pb-1">
											<div class="col-3 font-weight-bold" style="min-width:120px;">
												Surname
											</div>
											<div class="col flex-grow-1" style="min-width:0;">
												<input class="form-control border-0" v-model="candidate.surname">
											</div>
										</div>

										<div class="row align-items-center pb-1">
											<div class="col-3 font-weight-bold" style="min-width:120px;">
												Gender
											</div>
											<div class="col flex-grow-1" style="min-width:0;">
												<select class="custom-select border-0" v-model="candidate.gender">
													<option>male</option>
													<option>female</option>
												</select>
											</div>
										</div>

										<div class="row align-items-center pb-1">
											<div class="col-3 font-weight-bold" style="min-width:120px;">
												Birthday
											</div>
											<div class="col flex-grow-1" style="min-width:0;">
												<input type="date" class="form-control border-0" v-model="birthday">
											</div>
										</div>

										<div class="row align-items-center pb-1">
											<div class="col-3 font-weight-bold" style="min-width:120px;">
												Citizenship
											</div>
											<div class="col flex-grow-1" style="min-width:0;">
												<select class="custom-select border-0" v-model="candidate.citizenship">
													<option v-for="c in citizenships" :key="c">{{ c }}</option>
												</select>
											</div>
										</div>

										<div class="row align-items-center pb-1">
											<div class="col-3 font-weight-bold" style="min-width:120px;">
												Residence
											</div>
											<div class="col flex-grow-1" style="min-width:0;">
												<textarea rows="1" class="form-control border-0" v-model="candidate.residence"/>
											</div>
										</div>

										<transition name="slide-fade">
											<div v-if="modified" class="my-2 row justify-content-end">
												<button class="btn btn-primary m-1" style="width: 80px;" @click="patch">
													Save
												</button>
												<button class="btn btn-secondary m-1" style="width: 80px;" @click="cancel">
													Cancel
												</button>
											</div>
										</transition>

										<div class="my-2" style="border-bottom: solid 1px rgba(0,0,0,0.125);"></div>

										<div class="row align-items-center pb-1">
											<div class="col-3 font-weight-bold" style="min-width:120px;">
												Contatcs:
											</div>
											<div class="col flex-grow-1" style="min-width:0;"></div>
										</div>

										<div class="row align-items-center pb-1">
											<div class="col-3 font-weight-bold" style="min-width:120px;">
												Email
											</div>
											<div class="col flex-grow-1 py-3" style="min-width:0;">
												<input class="form-control border-0" placeholder="example@huntrees.com">
											</div>
										</div>


								</div>
								<div class="col h-100">

									<div class="d-flex flex-column h-100">
										<div class="pb-3 flex-grow-1 overflow-hidden" style="min-height: 0;">
											<div class="h-100 d-flex flex-column-reverse" style="overflow-y: scroll; overflow-x: hidden; margin-right: -15px;">
												<comment v-for="comment in comments" :key="comment.id" :comment="comment"/>
											</div>
										</div>
										<div>
											<div class="text-right text-monospace text-muted">
												<small>enter to send, shift + enter for new line</small>
											</div>
											<div class="input-group">
											  	<textarea
											  		class="form-control"
											  		placeholder="make comment..."
											  		v-model="comment"
											  		@keyup.enter.exact="send"
											  	/>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			proto: Object,
		},
		data: () => ({
			citizenships: [],
			comments: [],
			comment: '',
			candidate: {
				title: '',
				name: '',
				surname: '',
				gender: '',
				birthday: '',
				citizenship: '',
				residence: '',
			},
		}),
		computed: {
			birthday: {
				get: function () {
					return moment(this.candidate.birthday).format('YYYY-MM-DD');
				},
				set: function (value) {
					this.candidate.birthday = value;
				}
			},
			years() {
				return moment(this.candidate.birthday).fromNow(true);
			},
			modified() {
				return JSON.stringify(this.candidate) !== JSON.stringify(this.proto);
			},
		},
		methods: {
			async getComments() {
				const { data } = await axios.get(`/api/candidates/${this.candidate.id}/comments`);
				this.comments = data.sort((a,b) => {
					return moment(b.created_at).diff(moment(a.created_at));
				});
			},
			async getCitizenships() {
				const { data } = await axios.get('api/citizenships');
				this.citizenships = data;
			},
			patch() {
				axios.patch(`api/candidates/${this.candidate.id}`, this.candidate)
					.then(({ data }) => {
						this.candidate.updated_at = data.data.updated_at;
						this.$emit('updated', { payload: data.data });
					})
					.catch(err => console.error(err));
			},
			cancel() {
				this.candidate = {...this.proto};
			},
			send() {
				axios.post(`api/candidates/${this.candidate.id}/comments`, {
					message: this.comment,
				}).then(() => {
					this.comment = '';
					this.getComments();
				}).catch(err => console.error(err));
			},
		},
		mounted() {
			this.$refs.container.focus();
			this.candidate = {...this.proto};
			this.getCitizenships();
			this.getComments();
		},
	};
</script>

<style>
	textarea {
		resize: none;
	}

	.slide-fade-enter-active {
		transition: all .3s ease;
	}

	.slide-fade-leave-active {
		transition: all .1s;
	}

	.slide-fade-enter, .slide-fade-leave-to {
		transform: translateY(10px);
		opacity: 0;
	}
</style>