<template>
	<div
		class="card my-4"
		@mouseenter="hover = true"
		@mouseleave="hover = false"
		:class="{ 'shadow' : hover }"
	>
		<div class="card-body">
			<h5 class="card-title">
				<span class="text-capitalize">{{ candidate.title }}</span>
				<span class="text-capitalize">{{ candidate.surname }}</span>
				<span class="text-capitalize">{{ candidate.name }}</span>
			</h5>
			<p class="card-text">
				{{ candidate.gender }},
				{{ years }} <br>
				{{ candidate.citizenship }}
			</p>
			<p class="card-text">
				<small class="text-muted">{{ created }}</small>
			</p>
		</div>
		<div class="card-footer">
			Updated {{ updated }}
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			candidate: Object,
		},
		data: () => ({
			hover: false,
		}),
		computed: {
			years() {
				return moment(this.candidate.birthday).fromNow(true);
			},
			updated() {
				return moment.utc(this.candidate.updated_at, 'YYYY-MM-DD hh:mm:ss').fromNow();
			},
			created() {
				return moment.utc(this.candidate.created_at).format('DD MMM YYYY');
			},
		},
	};
</script>